.dvm-modal-overlay {
	background: rgba(128,255,255,.5);
//	position: absolute;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.dvm-modal-content {
	background: white;
/*	text-align: center;*/
	padding: 10px;
	box-shadow: 0 0 10px #666;
	border-radius: 5px;
}